@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

header {
  display: flex;
  background-color: #1f2937;
  padding-left: 200px;
  padding-right: 200px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.link-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}

h2 {
  font-size: 18px;
  color: #e5e7eb;
}

.awesome-section {
  background-color: #1f2937;
  padding: 150px;
}

.awesome {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.awesome-button {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
}

.information-section {
  padding-bottom: 130px;
}

.information {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.box {
  border: 4px solid #3882f6;
  border-radius: 15px;
  width: 160px;
  height: 160px;
}

.some-subtext {
  font-size: 18px;
  color: #1f2937;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 60px 300px 60px 300px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.attribution {
  text-align: right;
  color: #1f2937;
  font-weight: 800;
  font-size: 24px;
}

.call-section {
  background-color: #3882f6;
  display: flex;
  margin: 100px 200px;
  padding: 20px 40px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.call-heading {
  color: #f9faf8;
}

.our-product {
  color: #e5e7eb;
}

.call-section-button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  padding: 5px 20px;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 35px;
}
